<button><a href="/">Logout</a></button>
<div id="update-record-container" class="update-record-container">
    <p>Student</p>
    <form action="#" class="form-group" method="post">
        <label for="rollno">Roll Number</label>
        <input id="rollno" type="number" name="rollno" value="<%= data.rollno %>" disabled/>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="<%= data.name %>" disabled/>
        <label for="dob">Date of birth</label>
        <input id="dob" type="date" name="dob" value="<%= data.dob %>" disabled/>
        <label for="score">Score</label>
        <input id="score" type="number" name="score" value="<%= data.score %>" disabled/>
    </form>
</div>